<div style="width: 100%; text-align: center;">
  <h1>Tasks</h1>
</div>

<div class="tasks-list">
  <% @tasks.each do |task| %>
    <%= render "shared/task_card", task: task %>
  <% end %>
</div>

<div class="pagination">
  <% if @page > 1 %>
    <%= link_to "Previous", tasks_path(page: @page - 1) %>
  <% end %>
  <% if @page < @total_pages %>
    <%= link_to "Next", tasks_path(page: @page + 1) %>
  <% end %>
</div>