<div id="<%= dom_id article %>">

  <%= image_tag("blog#{article.id}.png") %>
  <p>
    <strong>
    <%= article.article_title %>
    </strong>
  </p>

  <p>
    <%= article.article_body %>
  </p>

</div>
