<div id="<%= dom_id article %>">

  <%= image_tag("#{article.article_image_url}.png") %>
  <p>
    <strong>
    <%= article.article_title %>
    </strong>
  </p>

  <p>
    <%= article.article_body %>
  </p>

</div>
