<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this Article", article %>
    </p>
  <% end %>
</div>

<%= link_to "New Article", new_article_path %>