<div id="<%= dom_id portfolio_card %>">
  <p>
    <strong>Portfolio card title:</strong>
    <%= portfolio_card.portfolio_card_title %>
  </p>

  <p>
    <strong>Portfolio card description:</strong>
    <%= portfolio_card.portfolio_card_description %>
  </p>

  <p>
    <strong>Portfolio card image url:</strong>
    <%= portfolio_card.portfolio_card_image_url %>
  </p>

</div>
