<h1>Editing portfolio card</h1>

<%= render "form", portfolio_card: @portfolio_card %>

<br>

<div>
  <%= link_to "Show this portfolio card", @portfolio_card %> |
  <%= link_to "Back to portfolio cards", portfolio_cards_path %>
</div>
