<p style="color: green"><%= notice %></p>

<h1>Portfolio cards</h1>

<div id="portfolio_cards">
  <% @portfolio_cards.each do |portfolio_card| %>
    <%= render portfolio_card %>
    <p>
      <%= link_to "Show this portfolio card", portfolio_card %>
    </p>
  <% end %>
</div>
