<section id="videos">
  <h2>Videos</h2>
  <ul>
    <% @videos.each do |video| %>
      <li>
        <iframe src='https://www.youtube.com/embed/<%= video.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
        <h3><%= video.title %></h3>
        <p><%= video.description %></p>
      </li>
    <% end %>
  </ul>
</section>