<div class="landscaping-jobs">
  <h1 style="margin-top: 0;">AW Lawn & Landscape</h1>

  <ul class="services-list">
    <li>One-Time Yard Cleanups</li>
    <li>Lawn Mowing & Edging</li>
    <li>Hedge & Shrub Trimming</li>
    <li>Flower Bed Weeding & Refreshing</li>
    <li>Gravel Path Restoration</li>
    <li>Parking Strip & Curbside Cleanups</li>
    <li>Leaf & Debris Blowing</li>
    <li>Seasonal Yard Maintenance Packages</li>
    <li>Small Business Landscape Maintenance</li>
    <li>Light Hauling & Green Waste Removal</li>
  </ul>

  <ul class="landscaping-contact">
    <li><strong>Text or Call:</strong> <a href="tel:2538201048">253-820-1048</a></li>
    <li><strong>Email:</strong> <a href="mailto:aaronwood8888@gmail.com">aaronwood8888@gmail.com</a></li>
  </ul>

  <hr style='margin-bottom: 2em;'>

  <div class="jobs-grid">
    <% @LandscapingJobs.each do |job| %>
      <div class="job-card">
        <h2><%= job.title %></h2>
        <p><%= job.description %></p>
        <%= image_tag asset_path(job.image), class: "job-image" if job.image.present? %>
      </div>
    <% end %>
  </div>
</div>