<div id="<%= dom_id document %>">
  <p>
    <%= document.title %>
  </p>

  <%= image_tag document.images[0]['url'], alt: "Preview image for #{document.title}", style: "max-width: 150px; height: auto;" %>

</div>
