<section class="documents">
  <h2>Documents</h2>
  <ul>
  <% @documents.each do |document| %>
    <li>
    <%= render document %>
    <%= link_to "Show this document", document %>
    </li>
  <% end %>
</ul>
</section>
