<div style="width: 100%; text-align: center;">
  <h1>Goals</h1>
</div>

<div class="goals-list">
  <% @goals.each do |goal| %>
    <%= render "shared/goal_card", goal: goal %>
  <% end %>
</div>

<div class="pagination">
  <% if @page > 1 %>
    <%= link_to "Previous", goals_path(page: @page - 1) %>
  <% end %>
  <% if @page < @total_pages %>
    <%= link_to "Next", goals_path(page: @page + 1) %>
  <% end %>
</div>
