// Variables for colors and fonts need to be updated on each individual sheet
$primary-color: #3a579d;
$secondary-color: #3e3e3e;
$background-color: #ecf0f1;
$text-color: #465563;
$hover-color: lighten($primary-color, 30%);
$font-stack: 'Roboto', sans-serif;

.about {
    background-color: lighten($background-color, 5%);
    margin-bottom: 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
      color: $primary-color;
      text-align: center;
    }

    h3 {
      color: $secondary-color;
      text-align: center;
    }
    
    p {
      text-align: center;
    }
    
    ul#paragraphs_from_yml {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch; // Ensures all li elements take the same height
      li {
        background: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: .5rem;
        transition: transform 0.3s, box-shadow 0.3s;
        max-width: 400px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }