$primary-color: #3a579d;
$secondary-color: #3e3e3e;
$background-color: #ecf0f1;
$text-color: #465563;
$hover-color: lighten($primary-color, 30%);
$font-stack: 'Roboto', sans-serif;

.simple-calendar {
  .day {
    li {
      margin-left: 18%;
      list-style-type: none;
    }
    .date_day {
      position: absolute;
    }
    .task span, a {
      vertical-align: middle;
    }
  }
}

#task-calendar-daily {
  margin-left: 10%;
  width: 80%;
}
#task-calendar-monthly {
  width: 80%;
  margin-left: 10%;
  ul {
    padding: 0;
    max-height: 80px;
    overflow: scroll;
    margin: 0;
  }
}

.status-dot {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}