.simple-calendar {
  .day {
    li {
      margin-left: 18%;
      list-style-type: none;
    }
    .date_day {
      position: absolute;
    }
  }
}

#task-calendar-daily {
  margin-left: 10%;
  width: 80%;
}
#task-calendar-monthly {
  width: 80%;
  margin-left: 10%;
  ul {
    padding: 0;
    max-height: 80px;
    overflow: scroll;
    margin: 0;
  }
}