$primary-color: #3a579d;
$secondary-color: #3e3e3e;
$background-color: #ecf0f1;
$text-color: #465563;
$hover-color: lighten($primary-color, 25%);
$font-stack: 'Roboto', sans-serif;

.simple-calendar {
  .day {
    /* Firefox */
    scrollbar-width: none;
    /* WebKit */
    ::-webkit-scrollbar {
      display: none;
    }
    
    li {
      margin-left: 15%;
      list-style-type: none;
      padding-left: 5px;
      a {
        text-decoration: none;
      }
      & > * {
        vertical-align: middle;
      }
    }

    .date_day {
      position: absolute;
      font-weight: bold;
    }

    .status-dot {
      display: inline-block;
      width: 1.1em;
      height: 1.1em;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      background: conic-gradient(
        green 0deg var(--progress-angle),
        black var(--progress-angle) 360deg
      );
    }
  }
}

#task-calendar-daily, 
#task-calendar-monthly {
  margin-left: 8%;
  width: 84%;
}

#task-calendar-monthly {
  ul {
    padding: 5px;
    max-height: 85px;
    overflow-y: auto;
    margin: 0;
  }
}