// stylesheets/_navbar.scss

$primary-color: #3a579d;
$secondary-color: #3e3e3e;
$background-color: #ecf0f1;
$text-color: #465563;
$hover-color: darken($primary-color, 10%);
$font-stack: 'Roboto', sans-serif;

.navbar {
  background-color: gray;
  padding: 1rem;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; // Center the items
    margin: 0;
    padding: 0;

    li {
      margin: 0.5rem;

      a {
        color: $background-color;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: background-color 0.3s;

        &:not(:has(img)):hover {
          background-color: #3a579d;
        }
      }

      // Logo special style
      .navbar-logo {
        height: 100px; // Set a height for the logo
        width: auto; // Keep the aspect ratio
      }
    }
  }
}

// Responsive Styles
@media (max-width: 768px) {
  .navbar {
    ul {
      flex-direction: column; // Stack items vertically
      align-items: center; // Center the items

      li {
        width: 100%; // Make each item full-width
        text-align: center; // Center text
      }
    }
  }
}


