#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    ul {
       li {
          max-width: 500px;
          img {
            border-radius: 30px;
          }
       }
    }
 }
